<form action="/todos/add" method="post">
    <div class="input-group">
        <label for="todo-message" class="input-group-addon">Add Todo:</label>
        <input type="text" id="todo-message" class="form-input input-lg" placeholder="Enter Your Todo"
               name="todo_message" required/>
        <button class="btn btn-primary btn-lg input-group-btn">Save</button>
    </div>
</form>
